@model SolutionE_RH_v1._5.Models.AVIS_DM

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>AVIS_DM</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.AVIS)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AVIS)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RAIS_AVIS)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RAIS_AVIS)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DATE_AVIS)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DATE_AVIS)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DEMANDE_CONGE.MATRECULE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DEMANDE_CONGE.MATRECULE)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID_AVIS }) |
    @Html.ActionLink("Back to List", "Index")
</p>
