@model SolutionE_RH_v1._5.Models.EMPLOYEE

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";

}
@section Styles {
<link href="@Url.Content("~/Content/layout/css/style.css")" rel="stylesheet" type="text/css" />
}

<script type="text/javascript">
    $(function () {
        // This will make every element with the class "date-picker" into a DatePicker element
        $('.date-picker').datepicker();
    })
</script>

<center><h2>Ajouter employée</h2></center>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4></h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.MATRECULE, htmlAttributes: new { @class = "control-label col-md-2"  })
            <div class="col-sm-8">
                @Html.EditorFor(model => model.MATRECULE, new { htmlAttributes = new { @class = "form-control1" } })
                @Html.ValidationMessageFor(model => model.MATRECULE, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CIN, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-sm-8">
                @Html.EditorFor(model => model.CIN, new { htmlAttributes = new { @class = "form-control1" } })
                @Html.ValidationMessageFor(model => model.CIN, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.NOM, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-sm-8">
                @Html.EditorFor(model => model.NOM, new { htmlAttributes = new { @class = "form-control1" } })
                @Html.ValidationMessageFor(model => model.NOM, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.PRENOM, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-sm-8">
                @Html.EditorFor(model => model.PRENOM, new { htmlAttributes = new { @class = "form-control1" } })
                @Html.ValidationMessageFor(model => model.PRENOM, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.SEXE, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-sm-8">
                @Html.EditorFor(model => model.SEXE, new { htmlAttributes = new { @class = "form-control1" } })
                @Html.ValidationMessageFor(model => model.SEXE, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.DATE_NAIS, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-sm-8">
                @Html.EditorFor(model => model.DATE_NAIS, new { htmlAttributes = new { @class = "date-picker", style = "border: 1px solid #e0e0e0;padding: 5px 8px;color: #616161;background: #fff;box - shadow: none !important; width:100%;font - size: 0.85em;font - weight: 300;height: 40px;border - radius: 0;-webkit - appearance: none; " } })
                @Html.ValidationMessageFor(model => model.DATE_NAIS, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.SITUATION_FAM, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-sm-8">
                @Html.EditorFor(model => model.SITUATION_FAM, new { htmlAttributes = new { @class = "form-control1" } })
                @Html.ValidationMessageFor(model => model.SITUATION_FAM, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.NB_ENFANT, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-sm-8">
                @Html.EditorFor(model => model.NB_ENFANT, new { htmlAttributes = new { @class = "form-control1" } })
                @Html.ValidationMessageFor(model => model.NB_ENFANT, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.DATE_DEBCONTRAT, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-sm-8">
                @Html.EditorFor(model => model.DATE_DEBCONTRAT, new { htmlAttributes = new { @class = "date-picker", style = "border: 1px solid #e0e0e0;padding: 5px 8px;color: #616161;background: #fff;box - shadow: none !important; width:100%;font - size: 0.85em;font - weight: 300;height: 40px;border - radius: 0;-webkit - appearance: none; " } })
                @Html.ValidationMessageFor(model => model.DATE_DEBCONTRAT, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.DATE_FINCONT, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-sm-8">
                @Html.EditorFor(model => model.DATE_FINCONT, new { htmlAttributes = new { @class = "date-picker",style = "border: 1px solid #e0e0e0;padding: 5px 8px;color: #616161;background: #fff;box - shadow: none !important; width:100%;font - size: 0.85em;font - weight: 300;height: 40px;border - radius: 0;-webkit - appearance: none; " } })
                @Html.ValidationMessageFor(model => model.DATE_FINCONT, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.SERVICE, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-sm-8">
                @Html.EditorFor(model => model.SERVICE, new { htmlAttributes = new { @class = "form-control1" } })
                @Html.ValidationMessageFor(model => model.SERVICE, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ADRESSE, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-sm-8">
                @Html.EditorFor(model => model.ADRESSE, new { htmlAttributes = new { @class = "form-control1" } })
                @Html.ValidationMessageFor(model => model.ADRESSE, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.TEL, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-sm-8">
                @Html.EditorFor(model => model.TEL, new { htmlAttributes = new { @class = "form-control1" } })
                @Html.ValidationMessageFor(model => model.TEL, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.EMAIL, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-sm-8">
                @Html.EditorFor(model => model.EMAIL, new { htmlAttributes = new { @class = "form-control1" } })
                @Html.ValidationMessageFor(model => model.EMAIL, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.DATE_EMBAUCHE, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-sm-8">
                @Html.EditorFor(model => model.DATE_EMBAUCHE, new { htmlAttributes = new { @class = "date-picker", style = "border: 1px solid #e0e0e0;padding: 5px 8px;color: #616161;background: #fff;box - shadow: none !important; width:100%;font - size: 0.85em;font - weight: 300;height: 40px;border - radius: 0;-webkit - appearance: none; " } })
                @Html.ValidationMessageFor(model => model.DATE_EMBAUCHE, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.NB_JOURCONGE, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-sm-8">
                @Html.EditorFor(model => model.NB_JOURCONGE, new { htmlAttributes = new { @class = "form-control1" } })
                @Html.ValidationMessageFor(model => model.NB_JOURCONGE, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-sm-8">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
