@model IEnumerable<SolutionE_RH_v1._5.Models.DEPART>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.DATE_DEP)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MOTIF_DEP)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EMPLOYEE.CIN)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.DATE_DEP)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MOTIF_DEP)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EMPLOYEE.CIN)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID_DEP }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID_DEP }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID_DEP })
        </td>
    </tr>
}

</table>
