@model SolutionE_RH_v1._5.Models.FORMATION

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script type="text/javascript">
    $(function () {
        // This will make every element with the class "date-picker" into a DatePicker element
        $('.date-picker').datepicker();
    })
</script>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
    <center><h4>FORMATION</h4></center>    
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.LIB, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.LIB, new { htmlAttributes = new { @class = "form-control1" } })
                @Html.ValidationMessageFor(model => model.LIB, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.DATE_DEPUT, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.DATE_DEPUT, new { htmlAttributes = new { @class = "date-picker", style = "border: 1px solid #e0e0e0;padding: 5px 8px;color: #616161;background: #fff;box - shadow: none !important; width:100%;font - size: 0.85em;font - weight: 300;height: 40px;border - radius: 0;-webkit - appearance: none; " } })
                @Html.ValidationMessageFor(model => model.DATE_DEPUT, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.NB_JOUR, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.NB_JOUR, new { htmlAttributes = new { @class = "form-control1" } })
                @Html.ValidationMessageFor(model => model.NB_JOUR, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.NB_PARTICIPE, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.NB_PARTICIPE, new { htmlAttributes = new { @class = "form-control1" } })
                @Html.ValidationMessageFor(model => model.NB_PARTICIPE, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.DESC_SUJET, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.DESC_SUJET, new { htmlAttributes = new { @class = "form-control1" } })
                @Html.ValidationMessageFor(model => model.DESC_SUJET, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.NOM_FORMATEUR, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.NOM_FORMATEUR, new { htmlAttributes = new { @class = "form-control1" } })
                @Html.ValidationMessageFor(model => model.NOM_FORMATEUR, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
