@model SolutionE_RH_v1._5.Models.USER

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>USER</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.LOGIN)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LOGIN)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PASSWORD)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PASSWORD)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CATEG)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CATEG)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EMPLOYEE.CIN)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EMPLOYEE.CIN)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID_USER }) |
    @Html.ActionLink("Back to List", "Index")
</p>
